<!DOCTYPE HTML>
<html>
<meta name="renderer" content="webkit"> 
<meta charset="UTF-8">
<title>To zqy</title>
<link rel="bookmark" type="image/x-icon" href="img/+1.ico" />
<link rel="shortcut icon" href="img/+1.ico">
<link rel="icon" href="img/+1.ico">
<link rel="stylesheet" href="../static/css/bootstrap.css">

<style>
body {
    background: url(../static/img/bak.gif);
}
</style>

<div class="container">
    <div class="page-header">
        <h1>你回来啦 <small>z</small></h1>
    </div>
    <p class="lead">爱的重要特征之一，在于爱着与被爱着的人，从来都不是对方的附属品，而是永远把爱着的对象视为独立的个体，尊重对方的独立和成长，彼此依赖却又相互独立。</p>
    <p><a class="btn btn-primary btn-lg" href="http://tozqy.ml:8023" role="button">玩个游戏</a></p>
</div>


